<h2>Pokémon Storage System</h2>

<p><%= pokemon.length %> Pokémon Caught!</p>

<% pokemon.forEach((p)=>{ %>
<div>
  <h3>
    <a href="/pokemon/<%= p.name %>">
      <%= p.name %>
    </a>
  </h3>
  <form method="POST" action="/pokemon?_method=DELETE">
    <input type="hidden" name="name" value="<%= p.name %>" />
    <button class="btn waves-effect red darken-4" type="submit">
      Release back into the Wild...
    </button>
  </form>
</div>
<% }); %>
