<div class="container">
  <img src="/img/og-151.png" alt="title" id="title" />
  <span> Legendary Gym Masters - Seanny Phoenix, Steven Peters</span><br />
  <span>Elite 4 - Shane, Branden, Levin, Nicholas</span><br />
  <span>Professor Oak - ADAM HONORE [OUR ROCK]</span><br />
  <% pokemon.forEach((pokemon) => { %>
  <div class="well">
    <h2><%= pokemon.name %></h2>
    <form method="POST" action="/pokemon">
      <input hidden type="text" name="name" value="<%= pokemon.name %>" />
      <button class="btn waves-effect red darken-4" type="submit">
        A wild Pokémon has APPEARED, catch me
        <img src="/img/catchmi.png" alt="pokeball" id="pokeball" />
      </button>
    </form>
  </div>
  <% }); %>
</div>
