body {
  background-color: #3b4cca;
  text-align: center;
}

#logo {
  position: relative;
  width: 70px;
  height: 70px;
}

.error {
  position: absolute;
  top: 10%;
  font-family: "Tomorrow", sans-serif;
  color: black;
  text-align: center;
}

.sprite {
  border-radius: 25px;
  border: 5px solid #b3a125;
  padding: 20px;
  width: 150px;
  height: 150px;
  background: #ffde00;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.bug {
  color: lightgreen;
}

.dragon {
  color: lightseagreen;
}

.electric {
  color: yellow;
}

.fighting {
  color: orange;
}

.fire {
  color: red;
}

.flying {
  color: khaki;
}

.ghost {
  color: purple;
}

.grass {
  color: green;
}

.ground {
  color: burlywood;
}

.ice {
  color: lightblue;
}

.normal {
  color: white;
}

.poison {
  color: darkmagenta;
}

.psychic {
  color: violet;
}

.rock {
  color: brown;
}

.water {
  color: blue;
}
