body {
  background-color: #3b4cca;
  font-family: "Lato", sans-serif;
  text-align: center;
}

#title {
  margin: 10px auto;
  display: block;
}

#logo {
  position: relative;
  width: 70px;
  height: 70px;
}

#pokeball {
  position: relative;
  width: 25px;
  height: 25px;
}

a {
  color: #ffde00;
}

.error {
  position: absolute;
  top: 10%;
  font-family: "Tomorrow", sans-serif;
  color: black;
  text-align: center;
}

.sprite {
  border-radius: 25px;
  border: 5px solid #b3a125;
  padding: 20px;
  width: 150px;
  height: 150px;
  background: #ffde00;
}

.well {
  border-radius: 25px;
  border: 5px solid #b3a125;
  padding: 20px;
  background: rgba(255, 222, 0, 0.4);
}

.polarid {
  position: absolute;
  border: 5px solid #b3a125;
  padding: 8px;
  width: 200px;
  background: rgba(0, 0, 0, 0.2);
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.bug {
  color: lightgreen;
}

.dragon {
  color: lightseagreen;
}

.electric {
  color: yellow;
}

.fighting {
  color: orange;
}

.fire {
  color: red;
}

.flying {
  color: khaki;
}

.ghost {
  color: purple;
}

.grass {
  color: green;
}

.ground {
  color: burlywood;
}

.ice {
  color: lightblue;
}

.normal {
  color: white;
}

.poison {
  color: darkmagenta;
}

.psychic {
  color: violet;
}

.rock {
  color: brown;
}

.water {
  color: blue;
}

span {
  display: inline-block;
  animation: weeee 6s linear infinite alternate;
  text-align: center;
}

@keyframes weeee {
  100% {
    color: transparent;
  }
  75% {
    color: rgba(0, 0, 0, 0);
  }
  50% {
    color: rgba(0, 0, 0, 0.5);
  }
  25% {
    color: rgba(0, 0, 0, 1);
  }
  0% {
    transform: translateX(101%);
    color: black;
  }
}
