body {
  background-color: #3b4cca;
  text-align: center;
}

/* div {
  display: inline-block;
  max-width: 30%;
} */

#logo {
  position: relative;
  width: 70px;
  height: 70px;
}

.error {
  position: absolute;
  top: 10%;
  font-family: "Tomorrow", sans-serif;
  color: black;
  text-align: center;
}

.sprite {
  border-radius: 25px;
  border: 5px solid #b3a125;
  padding: 20px;
  width: 150px;
  height: 150px;
  background: #ffde00;
}
